.ps-panel--sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    overflow-y: auto;
    z-index: 10001;
    background-color: #fff;
    @include transform(translateX(-100%));
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    @extend %list-reset;

    .ps-panel__header {
        position: relative;
        text-align: center;
        padding: 15px 20px;
        background-color: $color-1st;

        h3 {
            margin-bottom: 0;
            font-weight: 600;
            color: #ffffff;
            font-size: 1.6rem;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        .ps-btn--close {
            @include vertical-align();
            right: 10px;

            &:before,
            &:after {
                background-color: #ffffff;
                height: 60%;
            }
        }
    }

    .ps-panel__content {
        padding-top: 10px;
        padding-bottom: 70px;
    }

    &.active {
        @include transform(translateX(0));
    }

    @include media('<xs') {
        width: 100%;
        max-width: 100%;
    }
}

.ant-drawer {
    z-index: 9999 !important;
    @media screen and (max-width: 768px) {
        .ant-drawer-content-wrapper {
            width: calc(100vw - 50px);
            min-width: calc(100vw - 50px);
            max-width: calc(100vw - 50px);
        }

    }
}
.ps-panel--shopping{
    .ant-drawer-content-wrapper {
        width: 65vw;
        min-width: 65vw;
        max-width: 65vw;
    }
}

.ps-panel--share{
    .ant-drawer-content-wrapper {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 200px ;
        height: 200px ;
        max-height: 200px ;

        z-index: 10000 !important;

    }
    .ps-panel--wrapper{
        height: 100% !important;
        // custom-item-slider
        .ps-panel--share_content{
            padding: 20px;
            .ps-panel-share_slider{
                display: flex;
                height: 100px;
                flex-wrap: nowrap; // important
                overflow-x: auto;
                .ps-panel-share-slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    vertical-align: middle;
                    text-align: center;
                    width: 80px;
                    height: 80px;
                    margin: 10px;    
                    flex-grow: 0; // important
                    flex-shrink: 0; // important
                    max-width: 100%; // important        
                    > img {
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                    }
                    > a {
                        font-size: 12px;
                        font-weight: 600;
                    }

                    > i {
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        font-size:48px;
                    }
                    .fa-whatsapp {
                        background-color: #25d366;
                        color:#fff;
                        border-radius: 8px;
                    }
                    .icon-paper-plane{

                    }
                    .icon-copy{

                    }
                    .fa-instagram{
                        background: #f09433; 
                        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                        color:#fff;
                        border-radius: 8px;
                    }
                    .fa-twitter{
                        background-color: #1DA1F2;
                        font-size:44px;
                        color:#fff;
                        border-radius: 8px;
                    }
                    .fa-facebook{
                        background-color: #4267B2;
                        font-size:42px;
                        color:#fff;
                        border-radius: 8px;
                    }
                    .fa-pinterest{
                        background-color: #fff;
                        font-size:54px;
                        color:#E60023;
                        border-radius: 100%;

                    }
                }
                
            }

        }
    }
}

.ps-panel--mobile {
    .ant-menu-inline {
        border-right: none !important;

        .ant-menu-submenu-title {
            padding: 0 !important;
        }

        .ant-menu-item {
            margin-top: 0px;
            padding: 3px 20px !important;
            border-radius: 8px !important;
            height: 54px !important;
            min-height: 54px !important;
            line-height: 40px !important;
            > span > a{
                    color: $color-1st;
                    font-size: 16px;
                    font-weight: 500;
            }
        }
    }

    .ant-drawer-body {
        padding: 0 !important;
        border: none;
    }

    .ps-panel__header {
        position: relative;
        text-align: center;
        padding: 13px 20px;
        background-color: $color-1st;

        h3 {
            margin-bottom: 0;
            font-weight: 600;
            color: #ffffff;
            font-size: 1.6rem;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        .ps-btn--close {
            @include vertical-align();
            right: 10px;

            &:before,
            &:after {
                background-color: #ffffff;
                height: 60%;
            }
        }
    }

    .ps-panel__content {
        background-color: $color-dirty; //$color-navbar
        width: 97%;
        > ul {
            background-color: transparent;
            padding: 10px 10px;

            > li{
                margin-bottom: 10px;
                padding: 3px 20px;
                border-radius: 8px;
                background-color: rgba($color-navbar-contrast,0.2);
                box-shadow: $shadow-main;
                >span{
                    > a {
                        color:$color-text-2;
                        font-weight: 600;
                    }
                }
            }
        }
        .ps-panel__content-text{
            color: $color-1st !important;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .ps-panel__search-results {
        padding-top: 20px;
        min-height: 70vh;
        overflow: auto;
        max-height: 100%;
        background-color: #fafafa;
        .ps-form--search-mobile {
            margin-bottom: 30px;
            input {
                border: 1px solid #ddd;
            }
        }
    }

    .ant-menu {
        .ant-menu-item {
            &.ant-menu-item-selected {
                &:after {
                    display: none;
                }
                a {
                    padding: 0 10px;
                    color: #fff;
                    transition: all .25s ease;
                }
            }
        }
    }
}

.ps-panel--wrapper {
    height: 100vh;
    .ps-panel__close {
        @include vertical-align();
        right: 20px;
        font-size: 18px;
        i{
            color: $color-heading;
        }
    }

    .ps-panel__header {
        position: relative;
        border: 1px solid $color-1st;
        box-shadow: 0 0 8px 0 $color-1st;
    }

    .ps-panel__content {
        border: 1px solid $color-heading; //$color-navbar
        height: calc(100vh - 50px);
    }
    @include media('<xs') {
        width: 100%;
        max-width: 100%;
        .ps-panel__content {
            .widget_shop ul li i span {
                font-size: 16px;
            }
            > * {
                font-size: 18px !important;
            }
        }
    }

}
